<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <title>Document</title>

    <script>
        function validate(){
            let task = document.getElementById('task');
            if(task.value.trim() == ""){
                task.style.borderColor = "red";
                document.getElementById("error").style.display = "block";
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="container-md border border-primary mt-2">
        <h1 class="primary text-center" style="font-weight: bolder;"> Todo App </h1>

        <div>

            <form method = "POST" action="/edit/<%=todo._id%>" >
                <div class="form-group">
                    <label for="task">Edit Task:</label>
                    <input class = "form-control" type="text" id="task" name="task" value="<%= todo.task %>">
                    <small id="error" style="display: none;color: red;">*Cannot be empty</small>
                    <input type="submit" value="Save" class="btn btn-danger mt-2  ">
                </div>
            </form>
            
        
        </div>


    </div>
</body>
</html>